<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true">

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!-- <pattern>%.-1level|%-40.40logger{0}|%msg%n</pattern> -->
            <!--<pattern>%d{yyyy/MM/dd-HH:mm:ss} %-5level [%thread] %class{5}:%line>>%msg%n</pattern> -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/freepaayManage-web/freepaayLogFile_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>100</maxIndex>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
		<!--日志文件最大的大小-->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>
	
    <logger name="org.logicalcobwebs" level="ERROR"  />
    <logger name="com.freepaay" level="DEBUG" />
    <logger name="org.springframework.web" level="DEBUG" />
    <logger name="org.springframework.jdbc" level="DEBUG" />
    <logger name="org.mybatis" level="INFO" />
    <logger name="org.springframework.beans" level="DEBUG" />
    <logger name="com.freepaay.mybatis" level="TRACE" />
 	
 	<!-- 
    <logger name="org.logicalcobwebs" level="ERROR"  />
    <logger name="com.freepaay" level="ERROR" />
    <logger name="org.springframework.web" level="ERROR" />
    <logger name="org.springframework.jdbc" level="ERROR" />
    <logger name="org.mybatis" level="ERROR" />
    <logger name="org.springframework.beans" level="ERROR" />
    <logger name="com.freepaay.mybatis" level="ERROR" />
     -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
    
</configuration>