<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.freepaay.manage.mapper.TbAdminDetailsMapper" >
  <resultMap id="BaseResultMap" type="com.freepaay.manage.bean.TbAdminDetails" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="ADMIN_DETAILS_KEY" property="adminDetailsKey" jdbcType="DECIMAL" />
    <result column="ADMIN_KEY" property="adminKey" jdbcType="DECIMAL" />
    <result column="ADMIN_CHINESE_NAME" property="adminChineseName" jdbcType="VARCHAR" />
    <result column="ADMIN_MOBILE" property="adminMobile" jdbcType="VARCHAR" />
    <result column="ADMIN_QQ" property="adminQq" jdbcType="VARCHAR" />
    <result column="ADMIN_WEIXIN" property="adminWeixin" jdbcType="VARCHAR" />
    <result column="LAST_ACCESS_TIME" property="lastAccessTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>